section.sticky-section.level1 {
  height: auto;
}

.sticky-section figure {
  background: papayawhip;

  height: 300px;
}

section.parallax-section.level1 {
  background-image: url("sticky/space.jpg");
  height: auto;

  color: white;
  padding-top: 150pt;
  padding-bottom: 150pt;
}