.sticky-section figure {
  border: solid black 1px;
  background: white;
}

section.parallax-section.level1 {
  background-image: url("sticky/space.jpg");
  height: auto;

  color: white;
  padding-top: 150pt;
  padding-bottom: 150pt;
}