.viewport section *[data-custom-style="trigger"] {
  max-height: 1px;
  overflow: hidden;
}

.viewport section.table-section .arrow {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-image: url('stepped-table-test/arrow.svg');
  background-size: contain;
  float: left;
}

.viewport section.table-section p {
  padding-bottom: 50%;
  padding-left: 2em;
}

.viewport section.table-section p:last-of-type {
  padding-bottom: 0;
}

.viewport section.table-section .pin-wrap-inner {
  padding-bottom: 1em;
  padding-top: 1em;
  background: #f5f7fa;
}

.viewport section.table-section table tr {
  animation: fade-bg-back 0.5s ease-in-out;
}

.viewport section.table-section table tr.highlight {
  background: var(--deep-midnight);
  color: var(--blueprint-cyan);
  animation: fade-bg 0.5s ease-in-out;
}

@keyframes fade-bg {
    0% {
        background: inherit;
    }
    100% {
      background: var(--deep-midnight);
      color: var(--blueprint-cyan);
    }
}

@keyframes fade-bg-back {
    0% {
      background: var(--deep-midnight);
      color: var(--blueprint-cyan);
    }
    100% {
        background: inherit;
    }
}
